{% extends 'base.html.twig' %}
{% block title %}Découvrez Minefield{% endblock %}
{% block body %}
    <h2>
        Découvrez Minefield
    </h2>
    <p>
        Minefield, c’est un serveur multijoueur,
        gratuit, stable, peuplé,
        avec une énorme ville rp (Stendel),
        et de nombreux addons très fonctionnels !
    </p>
    <p>
        <a href="{# {{ path('register') }} #}">Venez nous rejoindre !</a>
    </p>
    <p>
        Vous pouvez dès à présent accéder au forum
        <a href="{# {{ path('ana-redirect') }} #}">&laquo; L'Ambassade des nouveaux arrivants &raquo;</a>
        qui vous guidera dans vos premiers pas sur le serveur.
    </p>
    <p>
        N’hésitez pas à parcourir notre forum,
        pour en savoir plus sur minefield.
    </p>
{% endblock %}
