<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Minefield{% endblock %} | Serveur Minecraft</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'menu.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include 'foot.html.twig' %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
