{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h2>Les dernières news de Minefield</h2>
    <section>
        {% for article in articles %}
            <article>
                <h3></h3>
            </article>
        {% endfor %}
    </section>
{% endblock %}
